/* Sass variables */

/* Fonts */
$font-small: 12px;
$font-medium: 14px;
$font-large: 16px;

$font-family-bold: "Open Sans Bold", arial, sans-serif;
$font-bold-color: #2a2a2a;

/* Colors */
$red: #ec0000;
$red-dark: #b30600;
$red32: #f9adad;
$red24: #fbc2c2;

$orange-dark: #ff8228;
$orange-light: #ffb432;
$blue: #d2f0ff;
$grey: #505050;
$grey80: #737373;
$grey48: #ababab;
$grey16: #e3e3e3;
$grey8: #f1f1f1;
$grey4: #f8f8f8;

$chevron: #ff373c;

/* Legacy colors */
$hint: #767676;
$black: #2a2a2a;
$background-color-error: rgba( 193, 12, 26, 0.05 );


/* Defaults */
$default-wrapper-title-padding: 8px 0 4px 0;
$default-wrapper-shadow: 2px 2px 2px 0 rgba( 0, 0, 0, 0.1 );
$default-wrapper-shadow2: 0px 2px 4px 0 rgba( 174, 176, 177, 0.3 );
$default-wrapper-height: 52px;

$default-border: 1px solid #d8d8d8;
$default-border2: 1px solid rgba( 0, 0, 0, 0.1 );
$default-border-radius: 0;

$default-color: #d4d4d4;

$default-disabled-color: #e9e9e9;

$default-font-family: "Open Sans", arial, sans-serif;
$default-font-size: 14px;
$default-font-color: #666666;

$default-input-color: #3a4350;
$default-invalid-font-color: #ff584a;
$default-invalid-border-color: #ffd9d9;
$default-invalid-background-color: #fff2f2;

$default-line-height: 24px;

$default-margin: 12px 0;
$default-padding: 12px 15px;

/* Others */
$text-wrapper-padding-top: 8px;
$dropdown-padding: 16px 12px;


