/* Sass variables */

$font-s: 12px;
$font-m: 14px;
$font-l: 20px;

$font-small: 12px;
$font-medium: 14px;
$font-large: 20px;

$text-box-padding-top: 8px;
$dropdown-padding: 16px 12px;

$default-font-size: 14px;
$default-color: #d4d4d4;

$default-input-color: #3a4350;
$default-border: 1px solid $default-color;
$font-family-bold: "Open Sans Bold", arial, sans-serif;
$default-font-family: "Open Sans", arial, sans-serif;

$default-border2: 1px solid rgba( 0, 0, 0, 0.1 );
$default-box-shadow: 2px 2px 2px 0 rgba( 0, 0, 0, 0.1 );
$default-box-shadow2: 0px 2px 4px 0 rgba( 174, 176, 177, 0.3 );
$default-font-color: #9f9f9f;
$default-font-color2: #2a2a2a;
$default-border-radius: 6px;

$default-box-height: 52px;
$default-disabled-color: #e9e9e9;
$default-box-title-padding: 8px 0 4px 0;

$default-invalid-font-color: #ff584a;
$default-invalid-border-color: #ffd9d9;
$default-invalid-background-color: #fff2f2;

$font-bold-color: #2a2a2a;