@import "_variables";

$component: datedropdownlist;
    
.#{$component} {

    box-sizing: border-box;
    width: 100%;
    padding: 12px 15px;

    .#{$component}-title {

        line-height: $default-line-height;
        font-size: $default-font-size;
        font-weight: bold;
        display: inline-block;
        margin-bottom: 8px;
    }

    .#{$component}-delimiter {

        padding: 0 12px;
        display: inline-block;
        color: #d8d8d8;
    }

    .dropdownlist {

        padding: 0;
        width: 68px;
        display: inline-block;

        &:last-child {

            width: 98px;

        }
    }

}