@import "_variables";

$component-name: dropdownlist;
    
.#{$component-name} {

    box-sizing: border-box;
    width: 100%;
    padding: 12px 15px;

    &.is-open {

        .#{$component-name}-main:before {

            top: 19px;
            border-top-color: transparent;
            border-bottom-color: $dark-orange;
        }
    }

    &.is-selected {

        .#{$component-name}-main {

            .#{$component-name}-header {

                color: #2a2a2a;
            }
        }
    }

    .#{$component-name}-main {

        position: relative;
        box-sizing: border-box;
        font-size: $default-font-size;
        border-radius: 3px;
        width: 100%;
        line-height: 24px;
        cursor: pointer;

        &:before {

            content: "";
            border: 5px solid transparent;
            border-top-color: $dark-orange;
            position: absolute;
            top: 25px;
            right: 15px;
            z-index: -1;
        }

        .#{$component-name}-header {

            padding: $default-padding;
            min-height: 24px;
            border: $default-border;
            border-radius: $default-border-radius;
            user-select: none;
            color: $hint;
        }

        .#{$component-name}-content {

            position: absolute;
            z-index: 1;
            top: 58px;
            left: 0;
            right: 0;
            background-color: white;
            min-height: 24px;
            border: $default-border;
            border-radius: $default-border-radius;
            user-select: none;
            box-shadow: 0 4px 4px rgba( 0, 0, 0, 0.2 );

            .#{$component-name}-list {

                .#{$component-name}-item {

                    padding: $default-padding;
                }

                .#{$component-name}-item:hover {

                    background-color: #eeeeee;
                }
            }

        }
    }

    .#{$component-name}-title {

        line-height: $default-line-height;
        font-size: $default-font-size;
        font-weight: bold;
        display: inline-block;
        margin-bottom: 8px;
    }
}