@import "_variables";

/* START: DropdownBox */
.dropdown-box {
    display: block;
    padding: 0;
    border-radius: $default-border-radius;
    position: relative;
    border: $default-border;
    background-color: white;
    cursor: pointer;
    box-sizing: border-box;
    height: $default-box-height;
    user-select: none;
}
    
    .dropdown-box.is-opened {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        box-shadow: $default-box-shadow;
    }
    
    .dropdown-box.is-opened .dropdown-content {
        display: block;
        box-shadow: $default-box-shadow;
    }
    
    .dropdown-box.dropdown-box-disabled {
        
        border: 1px dashed $default-disabled-color;
        cursor: default;
    }
    
        .dropdown-box-disabled .dropdown-title {
            
            color: $default-disabled-color;
        }
        
            .dropdown-box-disabled .svg-dropdown-icon path {
                
                fill: $default-disabled-color;
            }
        
        .dropdown-header {
            padding-left: 12px;
            padding-right: 12px;
        }
        
            .dropdown-box.is-opened .dropdown-header {
                
                border-bottom: 1px solid $default-color;
                
            }
        
            .dropdown-icon {
                
                position: absolute;
                top: 40%;
                right: 2%;
                width: 30px;
                height: 8px;
                overflow: hidden;
            }
                
                .svg-dropdown-icon {
                    margin-top: -14px;
                }
                    
                    .svg-dropdown-icon path {
                        fill: #d8d8d8;
                    }
            
            .is-opened .dropdown-icon {
                background-position: 0 -8px;
            }
            
                .is-opened .svg-dropdown-icon {
                    margin-top: -6px;
                }
            
            .dropdown-title {
                padding: 18px 0;
                color: $default-font-color;
            }
            
            .is-selected .dropdown-title {
                padding: 8px 0 4px 0;
                font-size: $font-s;
                
            }
            
            .is-selected-basic .dropdown-title {
                display: none;
            }
            
            .is-selected-basic .dropdown-selected {
                padding: 18px 0;
                color: $default-font-color;
            }
            
            .is-selected .dropdown-selected {
                padding: $dropdown-padding;
                color: #3a4350;
                padding: 4px 0 8px 0;
                user-select: none;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

        .dropdown-content {
            display: none;
            position: absolute;
            z-index: 1;
            left: -1px;
            right: -1px;
            border-left: $default-border;
            border-right: $default-border;
            border-bottom: $default-border;
            border-bottom-left-radius: $default-border-radius;
            border-bottom-right-radius: $default-border-radius;
            background-color: white;
        }
        
            .dropdown-list {   
                max-height: 185px; /* Magic Number */
                overflow: scroll;
                border-bottom-left-radius: $default-border-radius;
                border-bottom-right-radius: $default-border-radius;
                overflow-x: hidden;
            }
            
            .dropdown-list > li {
                position: relative;
                padding: $dropdown-padding;
                border-bottom: 1px solid $default-color;
                color: #2a2a2a;
            }
            
            .dropdown-list > li:last-child {
                border-bottom: none;;
            }
                
                .is-opened .item-selected {

                    padding-left: 40px;

                }
                
                    .svg-selected-icon {
                        display: none;
                        position: absolute;
                        left: 7px;
                        top: 11px;
                    }
                        
                        .svg-selected-icon path {
                            fill:#47CE87;
                        }
                    
                    .item-selected .svg-selected-icon {

                        display: block;    
                    }
                    
                
            .dropdown-content-footer {
                position: relative;
                padding: 20px 12px;
                border-top: $default-border;
            }
            
                .dropdown-content-footer .num-of-selected {
                    color: $default-font-color;
                    font-size: $font-s;
                }
                
                .dropdown-content-footer .done {
                    position: absolute;
                    right: 16px;
                    top: 16px;
                    font-size: $font-s;
                    border: 1px solid #1d92ed;
                    color: #1d92ed;
                    padding: 5px 15px;
                    border-radius: $default-border-radius;
                    
                }
                
                .dropdown-content-footer .done:hover {
                    
                     box-shadow: 0 0 4px 0 #1d92ed;
                }
            
/* END: DropdownBox */