@import "_variables";

$component: insert-text-box;
    
.#{$component} {

    margin: $default-margin;

    .#{$component}-title {
        
        display: inline-block;
        line-height: $default-line-height;
        font-size: $default-font-size;
        font-weight: bold;
        margin-bottom: 8px;
    }
}