@import "./_reset.scss";
@import "./_variables.scss";

@import "./misc.scss";

@import "./insert-text.scss";
@import "./insert-number.scss";
@import "./insert-textarea.scss";
@import "./insert-date-by-text.scss";
@import "./insert-date-by-number.scss";

@import "./form-element-box.scss";

@import "./insert-text-box.scss";
@import "./insert-number-box.scss";
@import "./insert-textarea-box.scss";

@import "./options-base.scss";
@import "./options-list.scss";

@import "./dropdown.scss";
@import "./dropdown-list.scss";

/* Global */

.orange-dark {

    color: #f36d00;
}

body {

    font-family: $default-font-family;

    .container {

        padding: 0 15px;

        .form-header {

            height: 128px;
            line-height: 128px;
            font-size: 58px;
            font-weight: bold;
            margin: $default-margin;

            .form-title {

                display: inline-block;
                vertical-align: middle;
            }
        }
    }
}




