@import "./_reset.scss";
@import "./textbox.scss";
@import "./dropdown.scss";
@import "./dropdownlist.scss";
@import "./misc.scss";

/* Global */


.orange-dark {

    color: #f36d00;
}

body {

    font-family: $default-font-family;

    .container {

        .form-header {

            height: 128px;
            line-height: 128px;
            font-size: 58px;
            font-weight: bold;
            padding: $default-padding;

            .form-title {
                display: inline-block;
                vertical-align: middle;
            }
        }
    }
}




