@import "_variables";

$component: options-checkbox;

.#{$component} {

    .#{$component}-item {

        position: relative;
        padding: 12px 0;
        font-size: $default-font-size;
        line-height: $default-line-height;
        cursor: pointer;

        .#{$component}-label {

            cursor: pointer;
            display: inline-block;

            .#{$component}-icon {

                visibility: hidden;
                position: absolute;
                cursor: pointer;

                &:before {

                    content: "";
                    position: absolute;
                    visibility: visible;
                    display: block;
                    top: -3px;
                    left: -3px;
                    width: 24px;
                    height: 24px;
                    border-radius: 3px;
                    box-sizing: border-box;
                    border: 1px solid $black;
                }

                &:checked:after {

                    content: "";
                    position: absolute;
                    visibility: visible;
                    display: block;
                    left: 5px;
                    top: 1px;
                    border-bottom: 4px solid $dark-orange;
                    border-right: 4px solid $dark-orange;
                    border-radius: 1px;
                    border-bottom-right-radius: 2px;
                    width: 4px;
                    height: 10px;
                    transform: rotate( 45deg );
                }
            }

            .#{$component}-text {

                display: block;
                margin-left: 39px;
            }
        }
    }
}