@import "_variables";

$component: options-radio;

.#{$component} {

    .#{$component}-item {

        position: relative;
        padding: 12px 0;
        font-size: $default-font-size;
        line-height: $default-line-height;
        cursor: pointer;

        .#{$component}-label {

            cursor: pointer;
            display: inline-block;

            .#{$component}-icon {

                visibility: hidden;
                position: absolute;
                cursor: pointer;

                &:before {

                    content: "";
                    visibility: visible;
                    display: block;
                    position: absolute;
                    top: -3px;
                    left: -3px;
                    width: 24px;
                    height: 24px;
                    box-sizing: border-box;
                    border: 1px solid $black;
                    border-radius: 100px;
                }

                &:checked:after  {

                    content: "";
                    visibility: visible;
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 18px;
                    height: 18px;
                    box-sizing: border-box;
                    border-radius: 100px;
                    background-color: $dark-orange;
                }
            }

            .#{$component}-text {

                display: block;
                margin-left: 39px;
            }
        }
    }
}