@import "_variables";

$component: optionlist;

.#{$component} {

    box-sizing: border-box;
    border: $default-border;
    border-radius: $default-border-radius;
    margin: $default-margin;

    .#{$component}-item {

        padding: $default-padding;
        font-size: $default-font-size;
        line-height: $default-line-height;
        border-bottom: $default-border;

         &.is-selected {
            color: $dark-orange;
         }

         &:last-child {

            border-color: transparent;
         }
    }

    .#{$component}-item:hover {

        background-color: #eeeeee;
    }


}