@import "_variables";

$component: options-radio;

.#{$component} {

    .#{$component}-item {

        position: relative;
        padding: 12px 0;
        font-size: $default-font-size;
        line-height: $default-line-height;
        cursor: pointer;

        .#{$component}-icon {

            position: absolute;
            top: 12px;
            left: 0;
            box-sizing: border-box;
            width: 24px;
            height: 24px;
            border: 1px solid $black;
            border-radius: 100px;

            &:before {

                content: "";
                width: 16px;
                height: 16px;
                position: absolute;
                border-radius: 100px;
                top: 3px;
                left: 3px;
            }
        }

        .#{$component}-text {

            display: block;
            margin-left: 39px;
        }

        &.is-selected {

            .#{$component}-icon:before {

                background-color: $dark-orange;
            }
        }
    }
}