@import "_variables";

$component: submit;

.#{$component} {

    font-family: $default-font-family;
    padding: 12px 30px;
    background-color: $red;
    line-height: $default-line-height;
    color: white;
    font-weight: 600;
    font-size: $font-large;
    cursor: pointer;
    outline: none;
    border: 4px solid transparent;
    white-space: normal; /* Text in button can wrap */

    &:hover {

        background-color: $red-dark;
    }

    &:focus {

        background-color: $red-dark;
        border-color: $red24;
    }

    &:disabled {

        background-color: $red32;
        cursor: not-allowed;
    }
}

