@import "_variables";

.table-box {

    button {
        border: $default-border;
        box-shadow: 0px 2px 4px 0 rgba(174, 176, 177, 0.3);
    }
    
    .table-box-header {
        margin-bottom: 20px;
        
        .table-box-heading {
            display: inline-block;
            margin-right: 30px;
        }

        .number-displayed-heading {
            display: inline-block;
            color: #aaa;
            font-size: 16px;
        }

        .export-all {
            float: right;
            margin-right: 20px;
            width: 220px;
        }

        .customise {
            float: right;
        }
    }
    
    .table-box-main {
        
        background-color: white;
        padding: 12px 0;
        border-radius: $default-border-radius;
        margin-bottom: 12px;
        border: $default-border;
        
        li{
            padding: 0 36px;
            color: #9f9f9f;
            background-color: white;
        }
        
        li:nth-child(odd) {
            
            background-color: rgba( 238, 238, 238, 0.3 );
        }
        
        li.table-box-main-header {
            font-family: $font-family-bold;
            border-bottom: 1px solid rgba( 0, 0, 0, 0.1 );
            color: $font-bold-color;
            background-color: white;            

        }
        
        span {
            
            display: inline-block;
            width: 19%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            margin: 0 0.5%;
            padding: 16px 0;
        }
        
        .table-box-main-header {
       
            span {
                position: relative;
                user-select: none;
                cursor: pointer;
                
                &.table-column-sorted {
            
                    color: #2894ea;;
                }
            }
            
            .sort-icon {
                
                width: 20px;
                height: 20px;
                position: absolute;
                top: 30%;
                
                &.sort-icon-up polygon { 
                
                    fill:#D8D8D8; 
                }
                
                &.sort-icon-up path {
                    
                    fill:#2794EA; 
                }
                
                &.sort-icon-inactive path {
                    
                    fill:#D8D8D8; 
                    
                }
                
                &.sort-icon-down polygon { 
                
                    fill:#D8D8D8; 
                }
                
                &.sort-icon-down path {
                    
                    fill:#2794EA; 
                }
                
            }
        }
        
    }
    
    .table-box-footer {
        height: 400px;
        
        .per-page {
            
            float: left;
            background-color: white;
            border-radius: $default-border-radius;
            padding-left: 12px;
            color: $default-font-color;
            border: $default-border;
            height: 46px;
            
            .num-per-page {
                
                margin-left: 20px;
                display: inline-block;
                width: 68px;
                border: none;
                border-left: 1px solid rgba( 0, 0, 0, 0.1 );
                border-radius: 0;
                border-top-right-radius: $default-border-radius;
                border-bottom-right-radius: $default-border-radius;
                height: auto;
                
                &.is-opened {
                    
                    border-bottom-right-radius: 0;
                    box-shadow: none;
                    
                    .dropdown-header {
                        border-bottom-right-radius: 0;
                    }
                    
                    .dropdown-content {
                        
                        box-shadow: none;
                    }
                }
                
                &.is-selected-basic .dropdown-selected {
                    
                    padding: 16px 0;
                }
                
                .dropdown-header {
                    margin-right: -1px;
                    border-right: $default-border;
                    border-top-right-radius: $default-border-radius;
                    border-bottom-right-radius: $default-border-radius;
                }
                
                
                .dropdown-list {
                    border:0;
                    left: 0;
                    right: 0;
                }
                
                .dropdown-title {
                    
                    padding: 16px 0;
                }
            }
        }
        
        .pager {
            float: right;
            padding: 16px 0;
            background-color: white;
            border-radius: $default-border-radius;
            border: $default-border;
            color: $default-font-color;
            
                        
            .pager-prev, .pager-next {
                user-select: none;
                cursor: pointer;
            }
            
            .pager-prev {
                border-right: $default-border2;
                
            }
            
            .pager-next {
                border-left: $default-border2;
                
            }
            
            .pager-prev, .pager-next, .pager-current {
                
                padding: 0 18px;
            }
            
        }   

    }

}

    