@import "_variables";
    
.textbox {

    box-sizing: border-box;
    
    width: 100%;
    padding: 12px 15px;

    label {

        line-height: $default-line-height;
        font-size: $default-font-size;
        font-weight: bold;
        display: inline-block;
        margin-bottom: 8px;
    }
    
    input[type="text"] {

        display: block;
        box-sizing: border-box;
        font-size: $default-font-size;
        padding: 12px 15px;
        border-radius: 3px;
        border: $default-border;
        width: 100%;
        line-height: $default-line-height;

        &:focus {

            outline: none;
        }

    }

    &.is-invalid {

        label {

            color: $red;
        }

        input[type="text"] {

            border-color: $red;
            background-color: rgba(193, 12, 26, 0.05);
            color: $red;
        }

    }
}
