@import "_variables";

.dropdown-autocomplete {

    position: relative;
    font-size: @default-font-size;
    border-radius: 3px;
    width: 100%;
    line-height: 24px;
    cursor: pointer;

    &:before {

        content: "";
        border: 5px solid transparent;
        border-top-color: @chevron;
        position: absolute;
        top: 23px;
        right: 15px;
        z-index: -1;
    }

    &-header {

        padding: @default-padding;
        min-height: 24px;
        border: @default-border;
        user-select: none;
    }

    &.dropdown-autocomplete--open {

        .dropdown-autocomplete {

            &__header {

                border-bottom-color: transparent;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;

            }

            &__content {

                position: absolute;
                z-index: 1;
                top: 49px;
                left: 0;
                right: 0;
                background-color: white;
                min-height: 24px;
                border: @default-border;
                max-height: 49px * 3 - 1 ;

                user-select: none;
                overflow-y: auto;
            }

            &__options-list__item {

                padding: @default-padding;
                font-size: @default-font-size;
                line-height: @default-line-height;
                border-bottom: @default-border;

                cursor: pointer;

                &:last-child {

                    border-color: transparent;
                }

                &:hover {

                    background-color: #eeeeee;
                }
            }
        }
        
    }

}
