$component: form-control;
    
.#{$component} {

    margin: $default-margin;

    .title {

        display: inline-block;
        margin-bottom: 8px;
        font-size: $default-font-size;
        color: $grey;
        font-weight: 500;
    }

    .error-message {

        padding: 4px 10px;
        line-height: $default-line-height;
        font-size: 12px;
        background-color: $red;
        display: block;
        color: white;
        margin-top: 12px;
        position:relative;

        &:before {

            content: "";
            position: absolute;
            top: -8px;
            border: 4px solid transparent;
            border-bottom: 4px solid $red;
        }

    }

    .description {

        color: $grey80;
        font-size: $font-small;
        line-height: 200%;
        margin-top: 8px;
    }

    &.is-invalid {

        .title {

            color: $red;
        }
    }

}